* {
  padding: 0;
  margin: 0;
}

.interactive-map {
  display: block;
  width: 100%;
  max-width: 1200px;
  max-height: 800px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.interactive-map > img {
  vertical-align: top;
  position: relative;
  width: 100%;
  border-radius: 10px;
}

.menu {
  display: block;
  position: absolute;
  right: 2%;
  bottom: 3%;
  background-color: rgb(56, 140, 13);
  width: 15%;
  text-transform: uppercase;
  font-family: 'Open Sans';
  color: #fff;
  border-radius: 10px;
  z-index: 3000;
}

.menu h1 {
  display: block;
  font-size: 1.25vw;
  font-weight: 400;
  text-align: center;
  padding: 5px 2px;
  background-color: rgba(0, 0, 0, 0.1);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  float: left;
  width: 98%;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

.menu ul {
  list-style-type: none;
  float: left;
  padding: 10px 15px;
}

.menu ul li {
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 1vw;
}

.menu ul li:hover,
.menu ul li.active {
  font-weight: 600;
  display: block;
}

.map-point i,
.map-point span {
  cursor: pointer;
  outline: none;
  z-index: 2;
  position: absolute;
}

.map-point {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.highways {
  visibility: hidden;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

.highways > img {
  vertical-align: top;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 10px;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.map-point > .fa-star {
  color: rgb(56, 140, 13);
  font-size: 3em;
  text-shadow: 1px 1px 7px #444;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.statesville {
  opacity: 1 !important;
}

.fa-circle {
  text-shadow: 1px 1px 7px #000;
}

.cog .fa-circle {
  color: rgba(186, 117, 44, 0.95);
}

.pin .fa-circle {
  color: #B2152D;
}

.music .fa-circle {
  color: #4F2CBA
}

.briefcase .fa-circle {
  color: #AB533B
}

.plane .fa-circle {
  color: #8bb73f;
}

.anchor .fa-circle {
  color: #56bdfc;
}


/* Tooltip CSS Start */

.tooltip {
  display: block;
  position: absolute;
  z-index: 0;
}


/* Gap filler */

.tooltip-item::after {
  content: '';
  position: absolute;
  width: 360px;
  height: 20px;
  bottom: 100%;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tooltip:hover .tooltip-item::after {
  pointer-events: auto;
}


/* Tooltip */

.tooltip-content {
  position: absolute;
  width: 256px;
  left: 50%;
  margin: 0 0 20px -114px;
  bottom: 100%;
  text-align: left;
  font-size: 0.765em;
  line-height: 1.4;
  box-shadow: -5px -5px 15px rgba(48, 54, 61, 0.2);
  background: #2a3035;
  opacity: 0;
  cursor: default;
  pointer-events: none;
}

.tooltip-effect-4 .tooltip-content {
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: scale3d(0.7, 0.3, 1);
  transform: scale3d(0.7, 0.3, 1);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
}

.tooltip:hover .tooltip-content {
  pointer-events: auto;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
  transform: translate3d(0, 0, 0) rotate3d(0, 0, 0, 0);
}

.tooltip:hover {
  z-index: 9999;
}


/* Arrow */

.tooltip-content::after {
  content: '';
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #2a3035;
  border-width: 10px;
  margin-left: -10px;
  z-index: 99999;
}


/* Tooltip content*/

.tooltip-text {
  font-size: 0.7em;
  line-height: 1.35;
  display: block;
  font-family: 'Open Sans';
  text-align: center;
  padding: 1.31em 1.21em 1.21em 0;
  color: #fff;
  position: relative !important;
}

.clearfix {
  clear: both;
}